.btn-bg{
    background-color: #289BDE;
}
.text-body-color{
    color: #289BDE;
}
.bg-light-blue{
    background-color: #F4FAFD;
}
footer{
    background-color: #161616;
}
.fa-tiktok{
    color: white;
}
.fa-facebook {
    color: white;
}
.fa-square-twitter{
    color: white;
}
.fa-linkedin{
    color: white;
}